<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single-interview</title>
</head>
<body>
    <h1>Generate a single interview</h1><br>
    Keep check boxes here and a field for accepting the email ID <br>
    <a href ="{{url_for('dashboard')}}">Go back to interview dashboard</a><br>
    <a href ="{{url_for('logout')}}">Logout</a><br>

</body>
</html>