<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview-In progress</title>
</head>
<body>
    <h1>Take the interview here</h1>
    <!-- Take the interview here -->
    <h2>Welcome, {{ uname }}</h2>
    <h3>Topics you will be tested in: {{ topics }}</h3>
    <form method="POST" action="/interview">
        {% for item in data %}
            <h3>{{item.topic}}</h3>
            <label for="q1">{{item.q1}}</label><br>
            <input type="text" id="fname" name="q1"><br>
            <label for="q2">{{item.q2}}</label><br>
            <input type="text" id="fname" name="q2"><br>
            <label for="q3">{{item.q3}}</label><br>
            <input type="text" id="fname" name="q3"><br><br>
        {% endfor %}
        <input type='submit', value="Submit"><br><br>
    </form>
    <a href ="{{url_for('successt')}}">Leave the interview</a>
</body>
</html>