<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview-In progress</title>
</head>
<body>
    <h1>Take the interview here</h1>
    <!-- Take the interview here -->
    <h2>Welcome, {{ uname }}</h2>
    <h3>Topics you will be tested in: {{ topics }}</h3>
    <a href ="{{url_for('successt')}}">Complete the interview</a><br>
    <form>
        {% for item in data %}
            <li>{{item.q1}}</li>
            <li>{{item.q2}}</li>
            <li>{{item.q3}}</li>
        {% endfor %}
    </form>
</body>
</html>